{% extends "base.html" %}

{% block content %}
<img src="{{ STATIC_PREFIX }}images/aboutH.png" class="pageH" />
<div class="wpis">
  <div class="dataBox">
    <p> </p>
  </div>
  <div class="artykul">
   <p> He has been interested in music since he was barely toilet-trained, when he plough through his parents vast record collection and started experimenting with the controls on their old Unitra ZRK M 8010 cassette player. A few years later he managed to force his Atari 65XE to make some (horrible) noise. This was the beginning of his journey. In the meantime, his musical inspirations evolved from Pink Floyd, Led Zeppelin, Queen to Jean Michel Jarre, Mike Oldfield, Vangelis, Tangerine Dream, Kitaro, Yanni, Delerium and then Trance, Goa, DnB music. <br/>
In the year 1993 his parents made the biggest mistake of their life - they bought him a Amiga 1200 computer. After destroying a couple of joysticks while playing Mortal Kombat I and II he started to learn how to make something much more ear pleasant than his first industrial/noise experiments on Atari. In the beginning of 90's he discovered his driving force: Demoscene. Over the years he has gained knowledge about recording, mixing, sound engineering and mastering. In the year 2001 he switched from Protracker to Propellerhead Reason 1.0 and then to Ableton Live. A decade later, he is ready to present his work to the wider audience. His musical journey continues...
   </p>  
  </div>
</div>

{% endblock %}
