{% extends "base.html" %}

{% block content %}
<img src="{{ STATIC_PREFIX }}images/aboutH.png" class="pageH" />
<div class="wpis">
  <div class="dataBox">
    <p> </p>
  </div>
  <div class="artykul">
    <h1>Title lorem ipsum</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
      nec  erat  orci,  sit  amet   ultrices  orci.  Praesent  at  dui
      massa. Curabitur aliquam auctor nisl, in elementum metus laoreet
      dignissim. Quisque ullamcorper, urna et ultricies gravida, felis
      lacus tempus massa, vitae congue ligula felis ut tortor. Vivamus
      eget  odio  nunc.  Vestibulum   at  tellus  nibh,  eget  blandit
      purus. Quisque venenatis, mauris  nec porttitor blandit, odio mi
      suscipit lorem, in vehicula ante  risus vitae lectus. Nunc augue
      risus, mollis luctus tristique a, facilisis vel tellus.
    </p>
    
    <p>
      Lorem ipsum  dolor sit amet, consectetur  adipiscing elit. Donec
      nec  erat  orci,  sit  amet   ultrices  orci.  Praesent  at  dui
      massa. Curabitur aliquam auctor nisl, in elementum metus laoreet
      dignissim. Quisque ullamcorper, urna et ultricies gravida, felis
      lacus tempus massa, vitae congue ligula felis ut tortor. Vivamus
      eget  odio  nunc.  Vestibulum   at  tellus  nibh,  eget  blandit
      purus. Quisque venenatis, mauris  nec porttitor blandit, odio mi
      suscipit lorem, in vehicula ante  risus vitae lectus. Nunc augue
      risus, mollis luctus tristique a, facilisis vel tellus.
    </p>
    <h2>Wyprawa "Mazury 2007"</h2>
    <p>
      Lorem ipsum  dolor sit amet, consectetur  adipiscing elit. Donec
      nec  erat  orci,  sit  amet   ultrices  orci.  Praesent  at  dui
      massa. Curabitur aliquam auctor nisl, in elementum metus laoreet
      dignissim. Quisque ullamcorper, urna et ultricies gravida, felis
      lacus tempus massa, vitae congue ligula felis ut tortor. Vivamus
      eget  odio  nunc.  Vestibulum   at  tellus  nibh,  eget  blandit
      purus. Quisque venenatis, mauris  nec porttitor blandit, odio mi
      suscipit lorem, in vehicula ante  risus vitae lectus. Nunc augue
      risus, mollis luctus tristique a, facilisis vel tellus.
    </p>
    <h2>Wyprawa "Mazury 2007"</h2>
    <p>
      Lorem ipsum  dolor sit amet, consectetur  adipiscing elit. Donec
      nec  erat  orci,  sit  amet   ultrices  orci.  Praesent  at  dui
      massa. Curabitur aliquam auctor nisl, in elementum metus laoreet
      dignissim. Quisque ullamcorper, urna et ultricies gravida, felis
      lacus tempus massa, vitae congue ligula felis ut tortor. Vivamus
      eget  odio  nunc.  Vestibulum   at  tellus  nibh,  eget  blandit
      purus. Quisque venenatis, mauris  nec porttitor blandit, odio mi
      suscipit lorem, in vehicula ante  risus vitae lectus. Nunc augue
      risus,    mollis    luctus    tristique   a,    facilisis    vel
      tellus.                   <a                  class="borderfree"
      href="index.html"><img src="images/arrow2.png" /></a>
    </p>
    
  </div>
</div>

{% endblock %}
