{% extends "base.html" %}

{% block content %}

<img src="{{ STATIC_PREFIX }}images/contactH.png" class="pageH" />
<div class="wpis">
  <div class="dataBox">
    <p>&nbsp;</p>
  </div>
  <div class="artykul separator">
    <p> 
      <span>Adress:</span> 
      <br/> Imię Nazwisko 
      <br/> ul. Nazwa Ulicy 23/445 
      <br/> 00-899 Miejscowość
    </p>
    <p>
      <span>Email:</span> 
      <a href="#">orkidea@appelsiini.net</a>
    </p>
    <p>
      <span>MSN:</span> djorkidea@hotmail.com
    </p>
    <p>
      <span>Tel.:</span>+48 999 999 999
    </p>
    <p>
      <span>Web feedback:</span> 
      If you have questions or any problems with the site, please contact 
      <a href="#">webmaster@djorkidea.com</a>
    </p>
  </div>
</div>

{% endblock %}
