{% extends "base.html" %}

{% block content %}
<img src="{{ STATIC_PREFIX }}images/newsH.png" class="pageH" />

{% for post in object_list %}

<div class="wpis">
  <div class="dataBox">
    <p>
      <span class="cyfry">{{ post.created.day }}</span>
      <br />{{ post.created|date:"M Y" }}
    </p>
  </div>
  <div class="artykul separator">
    <h1><a href="{{ post.get_absolute_url }}"> {{ post.title|slice:"30" }}</a></h1>
    <p> 
      {{ post.content|safe|linebreaks|slice:"300"}}
      {% if post.content|length > 300 %}
      <a class="borderfree" href="{{ post.get_absolute_url }}">
	...
      </a>
      {% endif %}
      <a class="borderfree" href="{{ post.get_absolute_url }}">
	<img src="{{ STATIC_PREFIX }}images/arrow.png" />
      </a>
    </p>
  </div>
</div>
{% endfor %}


{% if paginator.num_pages > 1 %}
<p class="paginacja">
  {% for value in paginator.page_range %}
  <a href="#">{{ value }}</a>
  {% endfor %}
</p>
{% endif %}

{% endblock %}
